{% extends "homepage.html" %}

{% block titulo %}
Perfil - {{usuario.username}}
{% endblock %}

{% include "navbar.html" %}
{% block body %}

<body>

  <div class="container">
    
    
    {% if form %}
    <form method="POST" enctype="multipart/form-data" class="bloco-add-img">
      
      {{ form.csrf_token }}
      
      <h2>Perfil de {{usuario.username}}</h2>

        <div class="bloco-input-botao">
          <div class="bloco-arquivo"> {{ form.foto(class="botao-arquivo") }} </div>
          {{ form.botao_confirmacao(class="botao-login") }}
        </div>

      </form>
    
    {% else %}

    <div class="bloco-add-img">
      <h2>Perfil de {{usuario.username}}</h2>
    </div>

    {% endif %}
      
    <div class="conteudo">

      {% for foto in usuario.fotos %}
        <div class="bloco-imagem">
          <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}">
        </div>
      {% endfor %}

    </div>

  </div>

</body>
{% endblock %}
